@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ivy-mode';
  src: url('./assets/fonts/ivy-mode-9.ttf');
}
@font-face {
  font-family: 'nunito-sans';
  src: url('./assets/fonts/nunito-sans-3.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins.ttf');
}
@font-face {
  font-family: 'spartan-mb-5';
  src: url('./assets/fonts/spartan-mb-5.ttf');
}
.link {
  position: relative;
}
.link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}
.header-bg {
  background: linear-gradient(180deg, rgba(85,85,85,1) 0%, rgba(255,255,255,0) 100%);
}
/*.link {
  cursor: pointer;
}
.no-bg-link::after{
  background: none;
}*/

/* .link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease-in-out;
} */

/* .link:hover::after {
  width: 100%;
  height: 1px;
  background-color: white;
}  */